<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>Title</key>
            <string>Title</string>
            <key>Filename</key>
            <string>title</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Dedication</string>
            <key>Filename</key>
            <string>dedication</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>A Note to Readers</string>
            <key>Filename</key>
            <string>note-to-readers</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Contents</string>
            <key>Filename</key>
            <string>contents</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Acknowledgements</string>
            <key>Filename</key>
            <string>acknowledgements</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Chapter 1</string>
            <key>Subtitle</key>
            <string>Trapped Emotions: The Invisible Epidemic</string>
            <key>Filename</key>
            <string>chapter1</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Chapter 2</string>
            <key>Subtitle</key>
            <string>The Secret World of Trapped Emotions</string>
            <key>Filename</key>
            <string>chapter2</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Chapter 3</string>
            <key>Subtitle</key>
            <string>Mysteries of the Ancient Energy Healers</string>
            <key>Filename</key>
            <string>chapter3</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Chapter 4</string>
            <key>Subtitle</key>
            <string>Healing With Magnets</string>
            <key>Filename</key>
            <string>chapter4</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Chapter 5</string>
            <key>Subtitle</key>
            <string>Getting Answers From The Inner Mind</string>
            <key>Filename</key>
            <string>chapter5</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Chapter 6</string>
            <key>Subtitle</key>
            <string>Releasing Trapped Emotions</string>
            <key>Filename</key>
            <string>chapter6</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Chapter 7</string>
            <key>Subtitle</key>
            <string>The Walls Around Our Hearts</string>
            <key>Filename</key>
            <string>chapter7</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Chapter 8</string>
            <key>Subtitle</key>
            <string>Surrogates, Proxies and Distance Healing</string>
            <key>Filename</key>
            <string>chapter8</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Chapter 9</string>
            <key>Subtitle</key>
            <string>The Emotion Code and Animals</string>
            <key>Filename</key>
            <string>chapter9</string>
        </dict>
        <dict>
            <key>Subtitle</key>
            <string>Life Without Trapped Emotions</string>
            <key>Filename</key>
            <string>chapter10</string>
            <key>Title</key>
            <string>Chapter 10</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>About the Author</string>
            <key>Filename</key>
            <string>about-author</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Index</string>
            <key>Filename</key>
            <string>index</string>
        </dict>
    </array>
</plist>
