<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Trapped Emotions: The Invisible Epidemic</string>
		<key>Filename</key>
		<string>chapter1</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>The Secret World of Trapped Emotions</string>
		<key>Filename</key>
		<string>chapter2</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Mysteries of the Ancient Energy Healers</string>
		<key>Filename</key>
		<string>chapter3</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Healing With Magnets</string>
		<key>Filename</key>
		<string>chapter4</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Getting Answers From The Inner Mind</string>
		<key>Filename</key>
		<string>chapter5</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Releasing Trapped Emotions</string>
		<key>Filename</key>
		<string>chapter6</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>The Walls Around Our Hearts</string>
		<key>Filename</key>
		<string>chapter7</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Surrogates, Proxies and Distance Healing</string>
		<key>Filename</key>
		<string>chapter8</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>The Emotion Code and Animals</string>
		<key>Filename</key>
		<string>chapter9</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Life Without Trapped Emotions</string>
		<key>Filename</key>
		<string>chapter10</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>About the Author</string>
		<key>Filename</key>
		<string>about-author</string>
	</dict>
</array>
</plist>
