<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<dict>
				<key>Title</key>
				<string>Abandonment</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Betrayal</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Forlorn</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Lost</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Love Unreceived</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Title</key>
				<string>Effort Unreceived</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Heartache</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Insecurity</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Overjoy</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Vulnerability</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
		</array>
	</array>
	<array>
		<array>
			<dict>
				<key>Title</key>
				<string>Anxiety</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Despair</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Disgust</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Nervousness</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Worry</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Title</key>
				<string>Failure</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Helplessness </string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Hopelessness</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Lack of Control</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Low Self-Esteem</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
		</array>
	</array>
	<array>
		<array>
			<dict>
				<key>Title</key>
				<string>Crying</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Discouragement</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Rejection</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Sadness</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Sorrow</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Title</key>
				<string>Confusion</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Defensiveness</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Grief</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Self-Abuse</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Stubborness</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
		</array>
	</array>
	<array>
		<array>
			<dict>
				<key>Title</key>
				<string>Anger</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Bitterness</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Guilt</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Hatred</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Resentment</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Title</key>
				<string>Depression</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Frustration</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Indecisiveness</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Panic</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Taken for Granted</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
		</array>
	</array>
	<array>
		<array>
			<dict>
				<key>Title</key>
				<string>Blaming</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Dread</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Fear</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Horror</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Peeved</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Title</key>
				<string>Conflict</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Creative Insecurity</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Terror</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Unsupported</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Wishy Washy</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
		</array>
	</array>
	<array>
		<array>
			<dict>
				<key>Title</key>
				<string>Humiliation</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Jealousy</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Longing</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Lust</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Overwhelm</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Title</key>
				<string>Pride
Pride</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Shame</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Shock</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Unworthy</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Wishy Washy</string>
				<key>Description</key>
				<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dolor ullamcorper dui porta semper.</string>
			</dict>
		</array>
	</array>
</array>
</plist>
